<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doo.metadata.url.mapper.UrlMapper">

	<!-- URL 번호 가져오기 url,method 입력 해야함. -->
	<select id="readUrlNo" resultType="int">
			select url_no 
			from metadata_urls 
			where url LIKE #{url} AND METHOD LIKE #{method}
	</select>
</mapper>