<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doo.storeperalleybiz.mapper.StorePerAlleybizMapper">
<select id="read" resultType="com.one.doo.storeperalleybiz.domain.StorePerAlleybiz">
	select * 
	from StorePerAlleybiz
	where alleybizcode = #{AlleyBizCode} 
	      AND sap_date LIKE '201809'
	      AND COBB_CODE LIKE 'CS100009'
</select>
<select id="readYear" resultType="com.one.doo.storeperalleybiz.domain.StorePerAlleybiz">
	select *
	from storeperalleybiz
	where alleybizcode = #{AlleyBizCode}
	      AND cobb_code LIKE 'CS100009'
</select>


</mapper>
