<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doo.livingperalleybiz.mapper.LivingPerAlleybizMapper">
<select id="read" resultType="com.one.doo.livingperalleybiz.domain.LivingPerAlleybiz">
select * from livingperalleybiz
where lap_date LIKE '201807' AND alleybizcode = #{AlleyBizCode}
</select>
</mapper>
