<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doo.indexperalleybiz.mapper.IndexPerAlleybizMapper">
<select id="read" resultType="com.one.doo.indexperalleybiz.domain.IndexPerAlleybiz">
select * from indexperalleybiz
where ipbd_date LIKE '201807' AND cobb_code LIKE 'CS100009' AND alleybizcode = #{AlleyBizCode}
</select>

</mapper>
