<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.doo.salespercobb.mapper.SalesPerCobbMapper">
<select id="read" resultType="com.one.doo.salespercobb.domain.SalesPerCobb">
	select * 
	from SalesPerCobb
	where alleybizcode = #{AlleyBizCode} 
	      AND spc_date LIKE '201809'
	      AND COBB_CODE LIKE 'CS100009'
</select>
</mapper>
